/* * {
  outline: auto;
} */
html {
  overflow-x: hidden;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.wraper {
  margin: 0px auto;
  width: 1110px;
}

header {
  padding: 40px 0 36px 0;
}

.menu-li a {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: rgb(15, 1, 1);
  line-height: 32px;
  font-weight: 700;
  text-decoration: none;
}

.menu-li a:hover,
.menu-li a:focus {
  color: #1abc9c;
}

.logo {
  text-decoration: none;
  float: left;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #555252;
  line-height: 32px;
  font-weight: 300;
  font-size: 30px;
}

.logo::first-letter {
  font-weight: 900;
  color: #1abc9c;
}

.logo:hover,
.logo:focus {
  color: #1abc9c;
}

.menu-ul {
  float: right;
  margin: 0;
  padding-left: 0;
}

.menu-li {
  float: left;
  text-transform: uppercase;
  list-style-type: none;
  margin-right: 30px;
}

.menu-li:last-child {
  margin-right: 0px;
}

.slider-image {
  z-index: 1;
  object-fit: cover;
  min-width: 1110px;
  max-width: 100%;
  height: 600px;
}

.slider-div {
  width: 1600px;
  position: relative;
  margin: 0 auto;
  /* text-align: center; */
  /* width: 0 auto; */
  /* height: 0 auto; */
}

.slider-div::after {
  display: block;
  content: "";
  width: 100%;
  height: 600px;
  background-color: rgba(0, 0, 2, 0.522);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
  /* text-align: center; */
  margin: 0 auto;
}

.slider-text {
  text-align: left;
  width: 770px;
  position: absolute;
  top: 290px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.slider-headline {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 60px;
  line-height: 82px;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

.slider-paragraph {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 24px;
  line-height: 54px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.button-left {
  font-size: 0px;
  float: left;
  width: 104px;
  height: 104px;
  border-style: none;
  padding: 0;
  background-color: rgba(26, 188, 156, 0.7);
  background-image: url(/img/icons/left-button.png);
}

.button-right {
  font-size: 0px;
  float: right;
  width: 104px;
  height: 104px;
  border-style: none;
  padding: 0;
  background-color: rgba(26, 188, 156, 0.7);
  background-image: url(/img/icons/right-button.png);
}

.button-slider-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 35;
}

.button-hover:hover {
  cursor: pointer;
  background-color: rgba(28, 145, 121, 1);
}

.new-collection-title {
  font-size: 48px;
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
  color: rgb(81, 81, 81);
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 84px 0;
  padding: 0px;
}

.new-collection-title::after {
  content: "";
  display: block;
  margin: 34px auto 0;
  background-color: rgb(26, 188, 156);
  width: 164px;
  height: 8px;
}

.collection-item-photo {
  display: block;
}

.section-collection {
  padding-top: 96px;
  padding-bottom: 100px;
}

.collection-items {
  display: block;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.collection-item {
  display: block;
  width: 254px;
  float: left;
  margin: 0 30px 0 0;
  position: relative;
}

.collection-item:last-child {
  margin: 0;
}

.collection-item-link {
  display: block;
  position: relative;
}

.collection-item-box-image {
  position: relative;
}

.collection-icon-overlay {
  box-sizing: border-box;
  border-width: 10px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  background-color: rgba(0, 0, 0, 0.56);
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.collection-item:focus .collection-icon-overlay,
.collection-item:hover .collection-icon-overlay {
  opacity: 0.549;
}

.icon-boxes {
  display: block;
  position: absolute;
  width: 166px;
  height: 108px;
  z-index: 2;
  top: 90px;
  left: 50%;
  transform: translatex(-50%);
  padding: 0;
  margin: 0;
  font-size: 0px;
  z-index: 5;
}

.icon-box {
  display: inline-block;
  font-size: 0px;
  z-index: 3;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.icons {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 1px solid #ffffff;
  z-index: 4;
  opacity: 0;
  padding: 0;
  margin: 0;
  border-style: solid;
  border-color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.icon-box:not(:nth-last-child(-n + 2)) {
  margin-right: 8px;
}
.icon-box:not(:last-child) {
  margin-bottom: 8px;
}

.icon-heart {
  background-image: url(../img/icons/hurt.png);
}

.icon-arov {
  background-image: url(../img/icons/cross-arow.png);
}

.icon-clock {
  background-image: url(../img/icons/clock.png);
}

.icon-cart {
  background-color: rgb(50, 50, 50);
  background-image: url(../img/icons/cart.png);
  background-repeat: no-repeat;
  width: 166px;
  height: 50px;
  font-size: 14px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  padding-left: 50px;
  text-align: center;
}

.collection-item:focus .icons,
.collection-item:hover .icons {
  opacity: 1;
}

.icons:focus,
.icons:hover {
  background-color: rgb(26, 188, 156);
}

.collection-item-box {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 32px;
  background-color: rgb(50, 50, 50);
  font-weight: 900;
}

.collection-item:focus .collection-item-box,
.collection-item:hover .collection-item-box {
  background-color: rgb(26, 188, 156);
}

.collection-item-header {
  display: inline-block;
  float: left;
  max-width: 200px;

  margin: 0px;
  padding: 4px 0px 4px 12px;
}

.collection-item-price {
  display: inline-block;
  float: right;
  text-align: center;
  margin: 0px;
  background-color: rgba(255, 255, 255, 0.439);
  min-width: 54px;
  padding: 4px 0px;
}

.footer-box {
  margin: 0px auto;
  max-width: 1600px;
  text-align: center;
  background-color: #323232;
  height: 88px;
}

.footer-info {
  color: rgb(254, 254, 254);
  font-size: 16px;
  line-height: 28px;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding-top: 30px;
}

.footer-link {
  text-decoration: none;
  color: rgb(26, 188, 156);
}
